<%- include ("../../../../template/main") %> <%- include ("../../../../template/menu") %>

<main class="card">
  <form class="col-md-5 p-lg-5 mx-auto my-5" method="POST" action="/auth/reset">
    <div class="mb-3">
      <label class="form-label" for="title">Email</label>
      <input class="form-control" type="email" placeholder="Your email" name="email" />
    </div>
    <input type="hidden" value="<%- csrfToken %>" name="_csrf" />
    <button class="btn btn-primary start-50" type="submit">Recover</button>
  </form>

</main>

<%- include ("../../../../template/footer") %>
