<%- include ("../../../../template/main") %> <%- include ("../../../../template/menu") %>

<main class="card">
  An email has been sent to you! Click in the link to go to change password page
</main>

<%- include ("../../../../template/footer") %>
