<%- include ("../../../../template/main") %> <%- include ("../../../../template/menu") %>

<main class="card">
  <form class="col-md-5 p-lg-5 mx-auto my-5" method="POST" action="/auth/signup">
    <div class="mb-3">
      <label class="form-label" for="name">Name</label>
      <input class="form-control" type="text" placeholder="Your name" name="name" />
    </div>
    <div class="mb-3">
      <label class="form-label" for="email">Email</label>
      <input class="form-control" type="email" placeholder="Your best email" name="email" />
    </div>
    <div class="mb-3">
      <label class="form-label" for="password">Password</label>
      <input class="form-control" type="password" placeholder="Password" name="password" />
    </div>
    <input type="hidden" value="<%- csrfToken %>" name="_csrf" />
    <button class="btn btn-primary start-50" type="submit">Signup</button>
  </form>

  <div class="mb-12">
    <a class="btn btn-secondary start-50 mb-3" href="/auth/login"> Login </a>
  </div>
</main>

<%- include ("../../../../template/footer") %>
